.film{
    margin: 0 auto;
    max-width: 1000px;
}
.film-block{
    max-width: 100%;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.film-block-title{
    width: 100%;
    font-weight: bolder;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 15px 30px rgb(0 0 0 / 15%);
    color: #fff;
}

.film-block-table{
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.data-title{
    font-size: 1.6em;
    text-decoration: underline;
    margin-bottom: 5px;
}